 
 <h1>Détails de l'auteur</h1>
    <p>Nom : {{ author.username }}</p>
    <p>Photo : {{ author.picture }}</p>
    <p>Email : {{ author.email }}</p>
    <p>Nombre de livres : {{ author.nb_books }}</p>
    <a href="{{ path('app_author') }}">Retour à la liste des auteurs</a>